{% extends "base.html" %}

{% block title %}
职位 - {{job.job_name}}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h2>{{job.job_name}}</h2>
        <p><span style="color:red">{{ job.wage_area }}</span>/{{ job.working_address }}/{{ job.experience_required }}/{{ job.edu_required }}</p>
        <p style="color:gray">{{ job.release_date }}</p>
    </div>
</div>

<div class="container">
    <b><h4>职位诱惑</h4></b>
    <p style="font-size:14px">{{job.job_tempt}}</p>
    <hr/>

    <b><h4>职位描述</h4></b>
    <ol style="font-size:14px">
        <li>.....</li>
        <li>.....</li>
        <li>.....</li>
    </ol>
    <hr/>

    <b><h4>工作地址</h4></b>
    <p style="font-size:14px">******</p>
    <hr/>
</div>
{% endblock %}
