{% extends "base.html" %} 
<!-- 使用 extends 进行继承 -->

{% block title %}Home{% endblock %}

{% block body %}
<div class="jumbotron" style="background-color:indigo; margin-top:-20px">
    <div class='container' style="background-color:indigo">    
        <h1 style="text-align:center; color:whitesmoke">Jobplus</h1>
        <p style="text-align:center; font-size:30px; color:whitesmoke">这是一家专注招聘的网站</p>
        <center><p><a class="btn btn-primary btn-lg" href="#" role="button" style="background-color:transparent; ">了解更多</a></p></center>
</div>
{% endblock %}
