{% extends "base.html" %} 
<!-- 使用 extends 进行继承 -->

{% block title %}Home{% endblock %}

{% block body %}
<div class="jumbotron" style="background-color:indigo; margin-top:-20px">
    <div class='container' style="background-color:indigo">    
        <h1 style="text-align:center; color:whitesmoke">Jobplus</h1>
        <p style="text-align:center; font-size:30px; color:whitesmoke">这是一家专注招聘的网站</p>
        <center><p><a class="btn btn-primary btn-lg" href="#" role="button" style="background-color:transparent; ">了解更多</a></p></center>
    </div>
</div>

<div class="container">
    <h3>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">热门职位</a></li>
            <li role="presentation"><a href="#">最新职位</a><li>
        </ul>
    </h3>
    <div class="row" style="margin-top:15px">
        {% for job in jobs %}
        {% set c = job.company_id %}
        {% set company = Company.query.get_or_404(c) %}
        <div class="col-sm-6 col-md-4 job">
            <div class="thumbnail" style="overflow:hidden; width:100%">
                <a href="{{job.url}}" target="_blank" style="width:30%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap" title="{{job.job_name}}">{{ job.job_name }}
                </a>
                <span style="color:red; font-size:16px; float:right">{{ job.wage_area }}</span>
                <p style="color:gray; font-size:14px; margin-top:10px">{{ job.experience_required }}/{{ job.edu_required }}/{{ job.working_address }}</p>
                <p style="color:gray; font-size:14px">{{ job.release_date }}</p>
                <p style="color:gray; font-size:14px">{{ job.job_attr }}</p>
                <hr/> 
                <a href="{{company.url}}" style="float:left">
                    <img style="width:60px; height:60px" src="{{company.logo}}" alt="公司logo">
                </a>
                <a href="{{company.url}}" style="float:left; margin-left:10px; width:70%; height:20px"><h5 class="media-heading">{{company.company_name}}</h5></a>
                <p style="float:left; margin-left:10px">{{company.company_attr}}/{{company.stage}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <center>
        <a class="btn btn-default btn-lg" role="button" href="{{url_for('job.job_list')}}" style="width:200px">查看更多</a>
    </center>
    <h3>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">热门公司</a></li>
        </ul>
    </h3>
    <div class="row">
        {% for company in companys %}
        <div class="col-sm-6 col-md-4 company">
            <div class="thumbnail">
                <center><a href="{{ company.url }}" target="_blank">
                        <img src="{{ company.logo }}" alt="logo" height="160" width="160"/>
                        <div class="caption">
                            <h4>{{company.company_name}}</h4>
                        </div>
                        </a>
                </center>
                <p style="color:gray; text-align:center; font-size:14px">{{ company.industry }}/{{ company.stage }}/{{ company.city }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <center>
        <a class="btn btn-default btn-lg" role="button" href="{{ url_for('company.company_list')}}" style="width:200px">查看更多</a>
    </center>
</div>
<!-- 使用 macro 渲染分页组件 -->
{% endblock %}

{% block footer %}
<footer style="color:gray; margin-top:100px">
    <hr/>
    &copy; Jobplus:专注遇见更好的自己
</footer>
{% endblock %}
