{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <h2>登录</h2>
    <div class="form">
        <!-- 要在 form 中指定 POST 方法和点击提交之后需要请求的 url；action:规定当提交表单时向何处发送表单数据，即在哪个url下显示 -->
        <form method="POST" action="{{ url_for('front.login') }}">
            <!-- forms.py 中 flask-wtf 在表单类中添加了 csrf_token，我们只要进行简单的渲染，渲染后会在 html 页面形成一个隐藏域， 里面是 csrf_token 的值 -->
            {{ form.csrf_token }}

            <!-- 使用 Bootstrap 的表单样式渲染每个表单项 -->
            <div class="form-group">
                <!-- 首先渲染 field label -->
                <!-- 接着渲染 field, StringField，渲染后会生成一个 <input> 标签，field 里面可以传入 html 的 label 属性，这些属性会渲染到生成的 html 标签中 -->
                <!-- 将“邮箱”作为 label 属性顶上去 -->
                {{ form.email.label }} {{ form.email(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.password.label }} {{ form.password(class="form-control") }}
            </div>

            <!-- BootleanField 的渲染有点特殊，使用了 Bootstrap 中的 checkbox 类 -->
            <div class="checkbox">
                <label>
                    {{ form.remember_me() }}
                    <!-- 这里获取的是 label 的 text 属性，也就是表单中定义的“记住我”的字符串 -->
                    {{ form.remember_me.label.text}}
                </label>
            </div>
            <!-- 渲染提交按钮，传入 Bootstrap 的按钮类 -->
            {{ form.submit(class="btn btn-primary")}}
        </form>
    </div>
{% endblock %}
